/* --------------------- */
/* Components */
/* --------------------- */

.logo {
  margin: 3rem clamp(1.5rem, 5vw, 3.5rem);
  margin-top: 7rem;
}

p {
  max-width: min(55ch, 75%);
}

.subheading {
  width: 75%;
}

header p {
  margin-bottom: 1.5rem;
}

img {
  max-width: 90%;
}

button {
  padding-block: 0.8rem;
  min-width: 20rem;
  color: white;
  border: none;
  border-radius: 30px;
  margin-block: 0.3rem;
  border-bottom: 3px solid var(--clr-grey-dark);
  flex: 1 1 1;
}

.button-ios {
  background-color: var(--clr-cyan);
  box-shadow: 0px 9px 45px -18px var(--clr-cyan);
}

.button-mac {
  background-color: var(--clr-purple);
  box-shadow: 0px 9px 45px -18px var(--clr-purple);
}

.list > div {
  gap: 1rem;
  flex-direction: column;
  align-items: center;
}

.list img {
  margin-bottom: 2rem;
}

footer > img {
  max-width: 3.5rem;
}

.footer-links {
  --gap: 1.5rem;
  flex-direction: column;
  align-items: center;
  text-align: center;
  min-width: 20ch;
}

.socials {
  --gap: 3rem;
}
.socials > img {
  transition: all 150ms ease-in;
}

/* --------------------- */
/* Page Specific Backgrounds */
/* --------------------- */

body {
  background-image: url("../images/bg-header-mobile.png");
  background-size: contain;
  background-repeat: no-repeat;
}

@media (min-width: 1440px) {
  body {
    background-image: url("../images/bg-header-desktop.png");
  }
}

/* --------------------- */
/* Layout */
/* --------------------- */

header {
  --gap: 1rem;
  flex-direction: column;
  align-items: center;
  width: min(90%, 60rem);
}

.container-main {
  --gap: 8rem;
  flex-direction: column;
  align-items: center;
  text-align: center;
  min-width: 100vw;
  padding-inline: 1rem;
  padding-bottom: 4rem;
}

.container-buttons {
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.container-computer {
  --gap: 3rem;
  flex-direction: column;
  align-items: center;
}

.list {
  --gap: 3rem;
  flex-direction: column;
  align-items: center;
}

.container-text {
  --gap: 1rem;
  flex-direction: column;
  align-items: center;
}

footer {
  --gap: 3rem;
  flex-direction: column;
  align-items: center;
  background-color: var(--clr-grey-extra-light);
  color: var(--clr-grey-dark);
  font-size: var(--fs-400);
  margin-top: 8rem;
  padding-block: 4rem;
}

/* --------------------- */
/* Active States */
/* --------------------- */

button:hover {
  cursor: pointer;
  opacity: 0.8;
}

.footer-links p:hover {
  cursor: pointer;
  color: var(--clr-cyan);
}

.socials img:hover {
  cursor: pointer;
  transform: scale(1.1);
}

/* --------------------- */
/* Media Query */
/* --------------------- */

@media (min-width: 1440px) {
  .container-computer {
    --gap: 8rem;
    flex-direction: row;
    justify-content: left;
    text-align: left;
  }

  .container-computer > :nth-child(1) {
    flex: 1 1 50%;
  }

  .vertical-list {
    align-items: flex-start;
  }

  .vertical-list .subheading {
    align-self: flex-start;
  }

  .vertical-list p:nth-child(2n) {
    max-width: min(70ch, 70%);
    align-self: flex-start;
  }

  .container-devices {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .horizontal-list {
    --gap: 8rem;
    width: 80%;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
  }

  .horizontal-list p:nth-child(2n + 1) {
    max-width: 45ch;
  }

  .container-text {
    min-width: 50ch;
  }

  footer {
    flex-direction: row;
    align-items: center;
    padding-block: 4rem;
    padding-inline: 20rem;
    justify-content: space-between;
  }

  .footer-links {
    --gap: 1rem;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
  }

  .footer-links > * {
    flex: 0 1 120px;
    text-align: start;
  }

  .socials {
    --gap: 3rem;
  }
}

.debug {
  outline: 1px solid red;
}
